/* Base Settings */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: orange;
  }
  

hr { 
    margin: 0px;
    border: 0px;
}

/* Navigation bar */

.topbar {
    background-color: #333;
    overflow: hidden;
}

.topbar a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.0625rem;
}

.topbar a:hover {
    background-color: green;
    color: #ddd;
    cursor: pointer;
}

.topbar a.current {
    background-color: #04AA6D;
}

.topbar a.split {
    float: left;
}

/* Main section */

/* Top of the Page */

.title {
    text-align: center;
    text-decoration: underline;
    margin-top: 50px;
}

.github img {
    max-width: 500px;
    background-color: white;
    display: block;
    margin: 0 auto;
}


/* Cards */

.projects {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.projects a {
    text-decoration: none;
    color: black;   
}

.project-card {
    margin: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    transition: 0.4s ease;
}

.project-card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    background-color: green;
}

.project-card h2 {
    text-align: center;
}

.project-card img {
    width: 100%;
    height: auto;
    margin-top: 2px;
    background-color: grey;
}

.content {
    padding: 20px;
}

.content p {
    font-size: 1rem;
    line-height: 1.5;
}

@media screen and (max-width: 768px) {
    .projects {
        flex-direction: column;
    }
    
    .project-card {
        width: 85%;
        margin: 20px auto;
    }
}

/* Footer section */

.contact {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.contact th {
    text-align: left;
    font-size: 1.1875rem;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact a:hover {
    color: red;
}

.copyright { 
    background-color: rgb(224, 224, 224);
    text-align: center;
}